/*----- blog -----*/
.blog-wrap{
	padding: 115px 0 110px;
	text-align: center;

	&__text{
		max-width: 800px;
		margin: 0 auto 30px;

		p:last-child{margin-bottom: 0;}
	}

	& + .form-bg-wrap{margin-top: -105px;}

	.blog-list{
		&__item{margin-bottom: 62px;}
	}
}

.blog-sect{
	padding-top: 100px;

	.blog-list{
		&__img-wrap{margin-bottom: 20px;}
	}

	.pager{margin-bottom: 0;}
}

.blog-list{
	text-align: center;

	&__item{margin-bottom: 74px;}

	&__img-wrap{
		display: block;
		height: 350px;
		overflow: hidden;
		margin-bottom: 32px;
		text-decoration: none;
	}

	&__img{
		height: 100%;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: all 0.3s ease 0s;
	}

	&__img:hover{
		transform: scale(1.1);
	}

	&__title,
	&__title a{
		@include font(normal, 500, rem(24px), 1.2, $color-text);
		text-decoration: none;
		transition: all 0.2s ease 0s;
	}

	&__title a:hover{color: $color-main;}
	
	&__text{
		@include font(normal, 300, rem(20px), 1.2, $color-text);
		margin-top: 10px;
	}

	&__date{
		@include font(normal, 300, rem(16px), 1.2, #b4b4b4);
		margin-top: 6px;
		margin-bottom: -6px;

		.icon{
			display: inline-block;
			vertical-align: middle;
			fill: #b4b4b4;
			margin-right: 5px;
		}

		.ic-calendar{margin-top: -3px;}
	}
}

.blog-detail{
	text-align: center;
	padding: 85px 0 60px;

	p{
		line-height: 1.67;
		letter-spacing: 0.18px;
	}
}

html[dir='rtl']{
	.blog-list{
		&__date .icon{
			margin-right: 0;
			margin-left: 5px;
		}
	}
}