/*----- filter-page -----*/
.filter-page{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-bottom: 12px;

	&__item{
		@include font(normal, 300, rem(28px), 1.25, $color-text);
		text-transform: uppercase;
		text-decoration: none;
		transition: all 0.2s ease 0s;
		margin: 15px 20px;
	}

	&__item.active,
	&__item:hover{
		color: $color-main;
		text-decoration: underline;
	}

	&__item.active{font-weight: 500;}
}

@media (max-width: 991px) {
	.filter-page{
		margin-bottom: 22px;
		margin-top: 8px;

		&__item{
			font-size: rem(20px);
			margin: 8px 14px;
		}
	}
}

@media (max-width: 767px) {
	.filter-page{
		margin-top: 5px;

		&__item{
			font-size: rem(14px);
			margin: 11px 6px;
		}
	}
}