/*----- form-site -----*/
.form-site-wrap{padding: 120px 0 110px;}

.form-site{
	text-align: center;

	&__head{
		@include font(normal, bold, rem(38px), 1.4, $color-text);
		text-transform: uppercase;
		margin-bottom: 4px;
	}

	&__text{
		@include font(normal, 300, rem(24px), 1.6, $color-text);
		margin-bottom: 15px;
	}

	&__content{
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: left;
	}

	&__notice{
		@include font(normal, 300, rem(24px), 1.3, $color-text);
		margin-top: 27px;

		a{
			font-weight: 500;
			text-decoration: none;
			transition: all 0.2s ease 0s;
		}

		a:hover{color: $color-main;}
	}

	&__field{
		width: 25%;
		position: relative;
		margin-right: 23px;
	}

	&__icon{
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 100%;
		position: absolute;
		@include top-center;
		left: 24px;

		.icon{
			fill: #868686;
			transition: all 0.3s ease 0s;
		}
	}

	input[type="text"],
	input[type="email"],
	textarea{
		height: rem(50px);
		width: 100%;
		outline: none;
		border: 0;
		border-bottom: 2px solid #868686;
		font-family: $font-site;
		@include font(normal, normal, rem(18px), rem(50px), $color-text);
		padding: 0 10px 0 75px;
		margin: 0;
		transition: all 0.3s ease 0s;
	}

	input[type="text"],
	input[type="email"],
	textarea,
	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus{
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	textarea{
		height: 180px;
		line-height: 1.6;
		padding: 10px;
	}

	input[type="text"]::placeholder,
	input[type="email"]::placeholder,
	textarea::placeholder{
		color: #868686;
		font-weight: 300;
		opacity: 1;
	}

	input[type="text"]:focus,
	input[type="email"]:focus,
	textarea:focus{
		border-color: $color-main;
	}

	input[type="text"]:focus + &__icon .icon,
	input[type="email"]:focus + &__icon .icon,
	textarea:focus + &__icon .icon{
		fill: $color-main;
	}

	&__field.error input[type="text"],
	&__field.error input[type="email"],
	&__field.error textarea{
		border-color: $color-red;
	}

	&__field.error &__icon .icon{
		fill: $color-red;
	}

	.btn,
	input[type="submit"].btn,
	button.btn{
		min-width: 192px;
	}

	&_vert &__head{margin-bottom: 7px;}

	&_vert &__text{
		max-width: 600px;
		line-height: 1.25;
		margin: 0 auto 22px;
	}

	&_vert &__content{
		display: block;
		max-width: 420px;
		margin: 0 auto;
	}

	&_vert &__field{
		width: 100%;
		margin: 0 0 23px 0;
	}

	&_vert .btn{
		display: table;
		margin: 34px auto 0;
	}

	&_semi-vertical &__content{
		flex-wrap: wrap;
		margin-left: -11px;
		margin-right: -11px;
	}

	&_semi-vertical &__field,
	&_semi-vertical .btn{
		width: calc(33.33% - 22px);
		margin: 0 11px 37px;
	}

	&_semi-vertical .btn{margin-bottom: 0;}

	&_semi-vertical &__field_big,
	&_semi-vertical .btn{
		width: calc(100% - 22px);
	}

	&_semi-vertical &__icon{left: 12px;}

	&_semi-vertical input[type="text"],
	&_semi-vertical input[type="email"]{
		padding: 0 10px 0 55px;
	}

	&_semi-vertical .btn{margin-top: -12px;}
}

html[dir='rtl']{
	.form-site{
		&__content{text-align: right;}

		input[type="text"],
		input[type="email"]{
			padding: 0 75px 0 10px;
		}

		&__icon{
			left: auto;
			right: 24px;
		}

		&__field{
			margin-right: 0;
			margin-left: 23px;
		}

		&.form-site_semi-vertical .form-site__field{
			margin-left: 11px;
			margin-right: 11px;
		}

		&.form-site_semi-vertical .form-site__icon{
			left: auto;
			right: 12px;
		}

		&.form-site_semi-vertical input[type="text"],
		&.form-site_semi-vertical input[type="email"]{
			padding: 0 55px 0 10px;
		}
	}
}

@media (max-width: 1199px) {
	.form-site{
		&_semi-vertical &__field{
			width: calc(50% - 22px);
			margin-bottom: 18px;
		}

		&_semi-vertical &__field:first-child,
		&_semi-vertical &__field_big{
			width: calc(100% - 22px);
		}

		&_semi-vertical &__content{
			display: flex;
			max-width: 573px;
			margin-left: auto;
			margin-right: auto;
		}

		&_semi-vertical &__text{margin-bottom: 19px;}

		&_semi-vertical.form-site .btn{
			width: auto;
			margin-top: 12px;
		}
	}
}

@media (max-width: 991px) {
	.form-site-wrap{padding: 66px 0 73px;}

	.form-site{
		&__head{
			font-size: rem(32px);
			margin-bottom: 11px;
		}

		&__text{
			font-size: rem(18px);
			margin-bottom: 10px;
		}

		&__notice{
			font-size: rem(18px);
			line-height: 1.67;
			margin-top: 22px;
		}

		&__content{
			display: block;
			max-width: 420px;
			margin-left: auto;
			margin-right: auto;
		}

		&__field{
			width: 100%;
			margin: 0 0 15px;
		}

		.btn{
			display: table;
			margin: 31px auto 0;
		}

		.btn,
		input[type="submit"].btn,
		button.btn{
			min-width: 154px;
		}

		textarea{height: 170px;}
	}
}

@media (max-width: 767px) {
	.form-site-wrap{padding: 50px 0 63px;}

	.form-site{
		&__head{
			font-size: rem(24px);
			line-height: 1.25;
			margin-bottom: 26px;
		}

		&__text{
			font-size: rem(16px);
			line-height: 1.25;
		}

		.btn{
			width: 100%;
			height: rem(48px);
			font-size: rem(20px);
			line-height: rem(44px);
		}

		&__notice{
			font-size: rem(20px);
			line-height: 1.2;
		}

		&__content{max-width: 100%;}

		textarea{height: 165px;}

		&_semi-vertical &__field{
			width: calc(100% - 22px);
			margin-bottom: 12px;
		}

		&_semi-vertical.form-site .btn{width: 100%;}
	}
}