/*----- hamburger -----*/
.ic-hamburger {
	display: inline-block;
	vertical-align: middle;
	width: 44px;
	height: 44px;
	overflow: hidden;
	margin: 0;
	padding: 0;
	font-size: 0;
	text-indent: -9999px;
	box-shadow: none;
	border-radius: none;
	border: none;
	background: #ddd;
	cursor: pointer;
	position: relative;
	transition: all 0.2s ease 0s;

	&::before{
		content: '';
		width: 0%;
		height: 100%;
		background: $color-main-light;
		position: absolute;
		top: 0;
		left: auto;
		right: 0;
		transition: all 0.2s ease 0s;
	}

	&:hover::before{
		width: 100%;
		left: 0;
	}

	&:focus {outline: none;}
	
	span {
		display: block;
		width: 21px;
		height: 4px;
		background: #000;
		border-radius: 2px;
		position: absolute;
		top: 19px;
		left: 16px;
	}
	
	 span::before,
	 span::after {
		content: "";
		position: absolute;
		display: block;
		right: 0;
		width: calc(100% + 9px);
		height: 4px;
		background-color: #000;
		border-radius: 2px;
	}
	
	span::before {top: -9px;}
	span::after {bottom: -9px;}
	
	span::before {transition: top 0.3s ease 0.3s, transform 0.3s ease 0s;}
	span::after {transition: bottom 0.3s ease 0.3s, transform 0.3s ease 0s;}
	
	&.active span {
		background: none;
	}
	
	&.active span::before {
		top: 0;
		transform: rotate(45deg);
	}
	
	&.active span::after {
		bottom: 0;
		transform: rotate(-45deg);
	}
	
	&.active span::before {transition: top 0.3s ease 0s, transform 0.3s ease 0.3s;}
	&.active span::after {transition: bottom 0.3s ease 0s, transform 0.3s ease 0.3s;}
	
	&:hover{background: $color-main;}
}

html[dir='rtl']{
	.ic-hamburger{
		&::before{
			left: 0;
			right: auto;
		}

		&:hover::before{
			right: 0;
		}

		span{left: 7px;}

		span::before,
		span::after{
			right: auto;
			left: 0;
		}
	}
}