/*----- portfolio -----*/
.portfolio-wrap{
	padding: 115px 0 110px;
	text-align: center;

	.portfolio-list{margin-top: 20px;}
}

.portfolio-list{
	display: flex;
	flex-wrap: wrap;

	&__item{
		width: 50%;
		height: 538px;
		overflow: hidden;
		position: relative;
	}

	&__img{
		width: 100%;
		height: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		transition: all 0.3s ease 0s;
	}

	&__popup{
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.6);
		text-align: center;
		padding: 65px;
		box-shadow: inset 0px 0px 30px 0px rgba(0, 0, 1, 0.3);
		position: absolute;
		top: -100%;
		left: 0;
		transition: all 0.3s ease 0s;
	}

	&__title{
		@include font(normal, bold, rem(24px), 1.15, #fff);
		text-transform: uppercase;
		padding-bottom: 27px;
		margin-bottom: 22px;
		position: relative;
	}

	&__title::after{
		content: '';
		display: inline-block;
		width: 70px;
		height: 4px;
		background: $color-main;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__text{
		@include font(normal, 300, rem(18px), 1.7, #fff);
	}

	.btn{margin-top: 32px;}

	&__item:hover &__img{transform: scale(1.1);}

	&__item:hover &__popup{top: 0;}
}