/*----- top-block -----*/
.top-block{
	display: flex;
	align-items: center;
	height: 1020px;
	max-height: 100vh;
	background: url(#{$path-img}/bg-top-block.jpg) no-repeat center;
	background-attachment: fixed;
	padding: 165px 0;
	position: relative;
	margin-bottom: 20px;

	&_end{align-items: flex-end;}

	&__triangle{
		width: 50%;
		height: 16%;
		position: absolute;
		bottom: 0;
	}

	&__triangle_left{left: 0;}
	&__triangle_right{right: 0;}

	&__content{
		max-width: 800px;
		margin: 0 auto;
		text-align: center;
	}

	&__content_big{max-width: 1390px;}

	&__head{
		@include font(normal, bold, rem(64px), 1.15, $color-main);
		text-transform: uppercase;
		text-shadow: 1.5px 2.598px 4.75px rgba(0, 0, 0, 0.2);
		margin-bottom: 20px;
		position: relative;
	}

	&__head_line{padding-top: 37px;}
	&__head_line-bottom{padding-bottom: 32px;}

	&__head_line::before,
	&__head_line-bottom::before{
		content: '';
		display: inline-block;
		width: 70px;
		height: 4px;
		background: $color-main;
		position: absolute;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__head_line::before{top: 0;}
	&__head_line-bottom::before{bottom: 0;}

	&__text{
		@include font(normal, 300, rem(24px), 1.67, #fff);
		text-shadow: 1.5px 2.598px 4.75px rgba(0, 0, 0, 0.2);
		position: relative;
	}

	&__text_line{padding-bottom: 47px;}

	&__text_line::before{
		content: '';
		display: inline-block;
		width: 70px;
		height: 4px;
		background: $color-main;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	&__btn{
		display: flex;
		justify-content: center;
		margin-top: 40px;

		.btn:not(:last-child){margin-right: 26px;}
	}

	.top-filter{margin-top: 30px;}

	.breadcrumb-wrap{
		width: 100%;
		position: absolute;
		top: 130px;
		left: 0;
	}

	&__notice{margin-top: 20px;}

	&__develop{
		@include font(normal, 500, rem(24px), 1.6, #fff);
	}

	&__date{
		@include font(normal, normal, rem(24px), 1.6, #fff);
	}

	.top-social{margin-top: 26px;}
}

.top-social{
	&__item{text-decoration: none;}
	&__item:not(:last-child){margin-right: 38px;}

	.icon{
		fill: #fff;
		transition: all 0.2s ease 0s;
	}

	.icon:hover{fill: $color-main;}
}

@keyframes scroll{
	0% {bottom: 60px;}
	50% {bottom: 40px;}
	100% {bottom: 60px;}
}

.btn-scroll{
	display: inline-block;
	width: 30px;
	height: 60px;
	background: url(#{$path-img}/scroll.png) no-repeat center;
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	margin: 0 auto;
	animation: scroll 1s infinite ease-in-out;
}

.top-filter{
	display: flex;
	justify-content: center;

	&__item{
		@include font(normal, 300, rem(24px), 1.25, #fff);
		text-decoration: none;
		transition: all 0.2s ease 0s;
		margin: 15px 32px;
	}

	&__item.active,
	&__item:hover{
		font-weight: 500;
		color: $color-main;
		text-decoration: underline;
	}
}

.top-menu{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

	&__item{
		@include font(normal, 500, rem(24px), 1.25, #fff);
		text-transform: uppercase;
		text-decoration: none;
		margin: 17px 15px;
		position: relative;
		transition: all 0.3s ease 0s;
	}

	&__item.active,
	&__item:hover{
		color: $color-main;
	}

	&__item.active{text-decoration: underline;}

	&__item:not(:last-child)::after{
		content: '';
		display: inline-block;
		width: 3px;
		height: 37px;
		background: $color-main;
		position: absolute;
		@include top-center;
		right: -15px;
	}
}

html[dir='rtl']{
	.top-block{
		&__btn .btn:not(:last-child){
			margin-right: 0;
			margin-left: 26px;
		}
	}

	.top-social{
		&__item:not(:last-child){
			margin-right: 0;
			margin-left: 38px;
		}
	}

	.top-menu{
		&__item:not(:last-child)::after{
			right: auto;
			left: -15px;
		}
	}
}

@media (max-width: 991px) {
	.top-block{
		height: 880px;
		padding: 125px 0 88px;

		&__head{
			font-size: rem(45px);
			line-height: 1.33;
			margin-bottom: 10px;
		}

		&__text{font-size: rem(18px);}
		&__btn{margin-top: 30px;}
		&__triangle{height: 8%;}
	}

	.btn-scroll{
		width: 26px;
		height: 31px;
		background-image: url(/assets/img/mob-scroll.svg);
	}
}

@media (max-width: 767px) {
	.top-block{
		height: 618px;

		&__head{
			font-size: rem(30px);
			line-height: 1.17;
			margin-bottom: 12px;
		}

		&__head_line{padding-top: 28px;}

		&__head_line::before,
		&__head_line-bottom::before{
			width: 56px;
			height: 3px;
		}

		&__text{
			font-size: rem(16px);
			line-height: 1.375;
		}

		&__btn{margin-top: 53px;}
		&__btn .btn:not(:last-child){margin-right: 18px;}
		&__triangle{height: 6%;}
	}

	html[dir='rtl']{
		.top-block{
			&__btn .btn:not(:last-child){
				margin-right: 0;
				margin-left: 18px;
			}
		}
	}
}