//Path
$path-img: "../img";
$path-fonts: "../fonts";

//Font
$font-site:  'Heebo', Arial, sans-serif;

// Site
$color-text: #000;
$color-main-light: #ffe367;
$color-main: #ffd000;
$color-main-dark: #dfb600;
$color-grey: #f1f2f3;
$color-red: #ff0000;

// Grid
$grid-gutter-width: 46px !default;

// $grid-breakpoints: (
// 	xs: 0,
// 	sm: 576px,
// 	md: 768px,
// 	lg: 992px,
// 	xl: 1800px
// ) !default;

// $container-max-widths: (
// 	sm: 540px,
// 	md: 720px,
// 	lg: 960px,
// 	xl: 1730px
// ) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1350px,
  xxxl: 1800px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1310px,
  xxxl: 1730px
) !default;