/*----- footer -----*/
.footer-top{
	padding: 23px 0;

	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo{
		width: 130px;
		margin-right: 25px;
	}

	&__info{
		display: flex;
		align-items: center;
	}

	&__phone,
	&__phone a{
		@include font(normal, 500, rem(28px), 1.2, $color-text);
		text-decoration: none;
		transition: all 0.2s ease;
	}

	&__phone{margin-right: 58px;}
	&__phone a:hover{color: $color-main;}
}

.footer-social{
	margin-right: 78px;

	&__item{text-decoration: none;}
	&__item:not(:last-child){margin-right: 38px;}

	.icon{
		fill: #000;
		transition: all 0.2s ease 0s;
	}

	.icon:hover{fill: $color-main;}
}

.footer-main{
	background: $color-grey;
	padding: 23px 0 5px;
}

.footer-menu{
	&,
	&__item,
	&__sub,
	&__subitem{
		@include reset-list;
	}

	&{margin-bottom: 28px;}

	&__title{
		margin-bottom: 12px;
	}

	&__link{
		@include font(normal, 500, rem(18px), 1.6, $color-text);
		text-decoration: none;
		transition: all 0.2s ease 0s;
	}

	&__link:hover{color: $color-main;}

	&__sublink{
		@include font(normal, 300, rem(18px), 1.6, $color-text);
		text-decoration: none;
		transition: all 0.2s ease 0s;
	}

	&__sublink:hover{text-decoration: underline;}
}

.footer-copyright{
	padding: 7px 0;
	@include font(normal, normal, rem(18px), 1.6, $color-text);
	text-align: center;
}

html[dir='rtl']{
	.footer-top{
		&__logo{
			margin-right: 0;
			margin-left: 25px;
		}

		&__phone{
			margin-right: 0;
			margin-left: 58px;
		}
	}

	.footer-social{
		margin-right: 0;
		margin-left: 78px;

		&__item:not(:last-child){
			margin-right: 0;
			margin-left: 38px;
		}
	}
}

@media (max-width: 991px) {
	.footer-top{
		padding: 16px 0;

		&__phone,
		&__phone a{
			font-size: rem(25px);
		}

		&__phone{margin-right: 36px;}

		&__logo{width: 107px;}
	}

	.footer-social{
		margin-right: 62px;

		&__item:not(:last-child){margin-right: 19px;}
	}

	html[dir='rtl']{
		.footer-top{
			&__phone{
				margin-right: 0;
				margin-left: 36px;
			}
		}

		.footer-social{
			margin-right: 0;
			margin-left: 62px;
	
			&__item:not(:last-child){
				margin-right: 0;
				margin-left: 19px;
			}
		}
	}
}

@media (max-width: 767px) {
	.footer-top{
		&__content{flex-wrap: wrap;}

		&__info{
			width: 100%;
			margin-top: 23px;

			.btn-form{
				position: absolute;
				top: 0;
				right: 23px;
			}
		}
	}

	.footer-social{
		display: flex;
		justify-content: center;
		width: 100%;
		margin-left: 0;
		margin-right: 0;

		&__item:not(:last-child){margin-right: 41px;}
	}

	.footer-menu{
		margin-bottom: 21px;
		
		&__title{margin-bottom: 14px;}
		&__link{font-size: rem(16px);}
		&__sublink{font-size: rem(14px);}
		&__subitem:not(:last-child){margin-bottom: 6px;}
	}

	.footer-copyright{font-size: rem(14px);}

	html[dir='rtl']{
		.footer-social{
			margin-right: 0;
			margin-left: 0;

			&__item:not(:last-child){
				margin-right: 0;
				margin-left: 41px;
			}
		}
	}
}