/*----- footer -----*/
.footer-top{
	padding: 23px 0;

	&__content{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo{
		width: 130px;
		margin-right: 25px;
	}

	&__info{
		display: flex;
		align-items: center;
	}

	&__phone,
	&__phone a{
		@include font(normal, 500, rem(28px), 1.2, $color-text);
		text-decoration: none;
		transition: all 0.2s ease;
	}

	&__phone{margin-right: 58px;}
	&__phone a:hover{color: $color-main;}
}

.footer-social{
	margin-right: 78px;

	&__item{text-decoration: none;}
	&__item:not(:last-child){margin-right: 38px;}

	.icon{
		fill: #000;
		transition: all 0.2s ease 0s;
	}

	.icon:hover{fill: $color-main;}
}

.footer-main{
	background: $color-grey;
	padding: 23px 0 33px;
}

.footer-menu{
	&,
	&__item,
	&__sub,
	&__subitem{
		@include reset-list;
	}

	&__title{
		margin-bottom: 12px;
	}

	&__link{
		@include font(normal, 500, rem(18px), 1.6, $color-text);
		text-decoration: none;
		transition: all 0.2s ease 0s;
	}

	&__link:hover{color: $color-main;}

	&__sublink{
		@include font(normal, 300, rem(18px), 1.6, $color-text);
		text-decoration: none;
		transition: all 0.2s ease 0s;
	}

	&__sublink:hover{text-decoration: underline;}
}

.footer-copyright{
	padding: 7px 0;
	@include font(normal, normal, rem(18px), 1.6, $color-text);
	text-align: center;
}

html[dir='rtl']{
	.footer-top{
		&__logo{
			margin-right: 0;
			margin-left: 25px;
		}

		&__phone{
			margin-right: 0;
			margin-left: 58px;
		}
	}

	.footer-social{
		margin-right: 0;
		margin-left: 78px;

		&__item:not(:last-child){
			margin-right: 0;
			margin-left: 38px;
		}
	}
}