html,
body{
	background: #fff;
	font-family: $font-site;
	@include font(normal, 300, 16px, 1.5, $color-text);
	box-sizing:border-box;
	height:100%;
}

body.no-scroll {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-size: inherit;
	font-family: inherit;
}

img{
	max-width: 100%;
}

a{
	color: $color-text;
	text-decoration: underline;
}

a:hover{
	text-decoration: none;
}

p{
	margin: 0 0 40px;
}

h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5
{
	line-height: 1.2;
	color: $color-text;
}

h1,.h1{
	font-size: rem(64px);
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 40px;
}

h2,.h2{
	font-size: rem(38px);
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 20px;
	margin-bottom: 23px;
	position: relative;
}

h2::after,
.h2::after{
	content: '';
	display: inline-block;
	width: 70px;
	height: 4px;
	background: $color-main;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}

h3,.h3{
	font-size: rem(32px);
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 10px;
}

h4,.h4{
	font-size: rem(24px);
	font-weight: bold;
	margin-bottom: 10px;
}

h5,.h5{
	font-size: rem(18px);
	margin-bottom: 0;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
	max-width: 1920px;
	height: 100%;
	margin: 0 auto;
}

main{
	flex: 1 1 auto;
	width: 100%;
	font-size: rem(24px);
}

.bg-shadow{
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
}

.btn,
input[type="submit"].btn,
button.btn{
	display: inline-block;
	height: rem(60px);
	min-width: 210px;
	background: $color-main;
	border: 2px solid $color-main;
	@include font(normal, normal, rem(20px), rem(56px), $color-text);
	text-align: center;
	text-decoration: none;
	padding: 0 30px;
	box-shadow: 1.5px 2.598px 4.75px 0.25px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	transition: all 0.3s ease 0s;
	position: relative;
}

.btn:hover,
input[type="submit"].btn:hover,
button.btn:hover{
	border-color: $color-main-light;
}

.btn__text{position: relative;}

.btn::before{
	content: '';
	width: 0%;
	height: 100%;
	background: $color-main-light;
	position: absolute;
	top: 0;
	left: auto;
	right: 0;
	transition: all 0.3s ease 0s;
}

.btn:hover::before{
	width: 100%;
	left: 0;
}

.btn_border,
input[type="submit"].btn_border,
button.btn_border{
	background: transparent;
	color: $color-main;
	box-shadow: none;
	text-shadow: 1.5px 2.598px 4.75px rgba(0, 0, 0, 0.2);
	box-shadow: 1.5px 2.598px 4.75px 0.25px rgba(0, 0, 0, 0.2);
}

.btn_border:hover,
input[type="submit"].btn_border:hover,
button.btn_border:hover{
	border-color: $color-main;
	color: $color-text;
	text-shadow: none;
}

.btn_border::before{background: $color-main;}

.btn_small,
input[type="submit"].btn_small,
button.btn_small{
	height: rem(50px);
	line-height: rem(46px);
}

.btn{
	.icon:first-child{margin-right: 16px;}
	.icon:last-child{margin-left: 16px;}

	.ic-arrow-dot{transform: rotate(180deg);}

	.ic-cup{margin-top: -5px;}
}

.code{
	background-color: #f7f7f7;
	border: 1px solid #e1e1e8;
	color: #d14;
	padding: 1px 4px;
	display: inline-block;
	font-family: monospace, arial;
	border-radius: 3px;
}

.text-left{text-align: left !important;}
.text-center{text-align: center !important;}
.text-right{text-align: right !important;}
.text-justify{text-align: justify !important;}
.text-uppercase{text-transform: uppercase !important;}
.text-bold {font-weight: 700 !important;}

.bg-grey{background: $color-grey;}

html[dir='rtl']{
	.btn{
		&::before{
			left: 0;
			right: auto;
		}

		&:hover::before{
			right: 0;
		}

		.icon:first-child{
			margin-right: 0;
			margin-left: 16px;
		}

		.icon:last-child{
			margin-left: 0;
			margin-right: 16px;
		}

		.ic-arrow-dot{transform: none;}
	}
}